PORT=4000
CORS_ORIGIN=*
USE_MOCK_DATA=true

PASSIO_BASE_URL=https://rutgers.passiogo.com
PASSIO_TIMEOUT_MS=10000
PASSIO_APP_VERSION=2
PASSIO_DEVICE_ID=0
PASSIO_BUILD_NO=0
PASSIO_EMBEDDED=0
PASSIO_ACRONYM_ID=1268
PASSIO_RUTGERS_SYSTEM_ID=

SYSTEMS_CACHE_TTL_MS=300000
ROUTES_CACHE_TTL_MS=900000
STOPS_CACHE_TTL_MS=900000
VEHICLES_CACHE_TTL_MS=10000
ALERTS_CACHE_TTL_MS=60000
ETAS_CACHE_TTL_MS=10000
